<% if User.current.allowed_to?(:view_agile_charts, @project, :global => true) %>
<h3><%= l(:label_agile_chart_plural) %></h3>
<ul>
  <li><%= link_to l(:label_agile_charts_issues_burndown), {:controller => "agile_charts", :action => "show", :chart => "issues_burndown", :project_id => @project}, :class => "#{'selected' if @chart == 'issues_burndown'}" %></li>
</ul>
<% end %>
