.progress .value table.progress *, .progress .value table.progress, .ui-progressbar-value, .ui-progressbar{
  border: none!important;
  border-radius: 4px!important;
}
.progress .value table.progress td.closed, .ui-progressbar-value, .ui-progressbar{
  background: #01cb6c;
  background: linear-gradient(to right, #01cb6c, #00b6c7)!important;
  border-radius: 4px 0px 0px 4px!important;
}

.ui-progressbar-value, .ui-progressbar{
  border-radius: 4px 4px 4px 4px!important;
}

.progress .value table.progress td.todo{
  background: #e0e0e0;
  border-radius: 0px 4px 4px 0px!important;
}

.progress .value table.progress.progress-100 td.closed, .progress .value table.progress.progress-0 td.todo{
  border-radius: 4px!important;
}

input[type="button"], input[type="submit"], button{
  background-color: #40b6e3;
}

.icon-schedule::before {
  content: "\f017";
}

.constitutional-act-form{
  line-height: 35px;
}

.constitutional-act-form label {
    width: 160px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: right;
}
#constitutional-act div{
  margin-top: 0px !important;
}

#constitutional-act legend{
  margin-bottom: 5px !important;
}

.button-warning{
   background: rgb(223, 117, 20) !important;
   border-color: rgb(223, 117, 20) !important;
   box-shadow: 0 1px 0 rgb(223, 117, 20)  !important;
}

.chart-container{
  margin-bottom: 50px;
}
.chart-title{
  text-align: center;
  margin-bottom: 0;
  margin-top: 24px;
}

.text-center{
  text-align: center;
}

#top-menu{
  padding: 8px;
  line-height: 43px;
  padding-left: 16px;
  padding-right: 16px;  
  box-shadow: 0px 0px 9px 1px #949494;
  z-index: 1;
  color: white;
  font-size: 13px;
  background: #4f3f7d;
}
#top-menu a{
  color: white;
  font-size: 13px;
}
#quick-search>form>input, #quick-search>select{
  border-width: 0;
}

#quick-search>form>input:focus, #quick-search>select:focus{
  border-width: 1px!important;
}

#quick-search{
  margin-top: 0;
  margin-bottom: 0;
}

.chart-container{
  display: none;
}
#top-menu a{
  font-weight: normal;
  padding-left: 7px;
  padding-right: 7px;
}
.account-avatar img{
  border-radius: 99px;
  height: 30px;
  width: 30px;
}

#top-menu .account-avatar{
  float: left;
}
#top-menu #account{
  margin-top: 6px;
  margin-bottom: -14px;
  margin-right: 13px;
  margin-left: 13px;
}

#top-menu #loggedas{
  line-height: 30px;
  margin-left: 2px;
  float: left;
  margin-right: 8px;
}

#top-menu #user-arrow{
  background-image: url(/images/arrow_down.png);
  width: 8px;
  height: 8px;
  float: left;
  display: inline;
  background-repeat: no-repeat;
  margin-top: 12px;
  margin-right: 7px;
}

@media (max-width: 2899px){
  #top-menu #account ul{
    position: absolute;
    background: #4f3f7d;
    z-index: 9;
    margin-top: 33px;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    display: none;
  }
  #top-menu #account ul li{
    padding: 5px;
    display: block;
    padding-left: 18px;
    padding-right: 18px;  
  }
}

.tag-label-color a{
  color: white!important;
}

.tag-label-color a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 15px white;
}
.tag-label-color{
  border: none!important;
  padding: 4px 6px;
}

#quick-search form input[name="q"], #quick-search>select{
  background: rgba(88, 76, 121, 0.3);
  color: white;
}

#advantager-logo{
  float: left;
  width: 35px;
  height: 35px;
  margin-top: 4px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url('/images/advantager-logo.png');
}

.clearfix{
  clear: both!important;
  height: 0!important;
  visibility: hidden!important;
}


/**
* Project show styles
**/

.project-description{
  padding: 18px;
}

.member{
  width: 100px;
  text-align: center;
  float: left;
  margin: 12px;
}

.members.box .label{
  display: inline-block;
  font-weight: 400;
  margin-bottom: 5px;
  float: left;
  margin-top: 7px;
  margin-right: 11px;
}

.members.box .avatar img{
  width: 25px;
  height: 25px;
  border-radius: 90px;
  margin: 3px;
}

.members.box .avatar{
  text-decoration: none;
  padding-top: 20px;
}

.members.box .role-box{
  clear: both;
  display: inline-block;
  margin-top: 20px;
  margin-right: 31px;
}


.box, .panel{
  padding: 25px;
  margin: 8px;
  border: none;
  background: white;
  border-radius: 3px;  
  padding-bottom: 40px;
}

.panel.tracker h4{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.estimated-date{
  margin: 6px;
}

.float-left{
  float:left;
}
@media (max-width: 2899px){
  .col-33{
    width: 33.33%;
  }
}
@media (max-width: 1500px){
  .col-33{
    width: 50%;
  }
  .col-33.issue-chart-tags{
    width: 100%;
  }
}
@media (max-width: 1200px){
  .col-33{
    width: 100%;
  }
}
.panel.tracker{
  height: 241px;
  padding-top: 40px;
}

.boxcard{
  height: 88px;
  margin-bottom: 5px!important;
}
.boxcard .title{
  text-transform: uppercase;
  color: #797979;
  float: left;
  margin-bottom: 8px;
}

.boxcard .value{
  font-weight: 600;
  font-size: 24px;
  color: #797979;
  float: left;
}

.boxcard .unity{
  color: #98a6ad;
  font-size: 14px;
}

@media (max-width: 1350px){
  .splitcontentleft.card, .splitcontentright.card{
    width: 100%;
  }
  .boxcard{
    height: 88px;
  }
}

@media (max-width: 900px){
  .boxcard{
    height: 142px;
    margin-top: 20px;
    margin-bottom: 20px!important;
  }
  .panel.tracker{
    height: 310px;
  }
}

#project-show .splitcontentleft{
  padding: 0px;
}
#project-show .splitcontentright{
  padding: 0px;
}
.success-btn, .success-btn:hover, .success-btn:focus, .success-btn:active, .success-btn:visited, .more-evm-button{
  background: #34d3eb;
  color: white;
  padding: 8px;
  text-decoration: none!important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #40cfe3 #40cfe3 #1db8c8;
  box-shadow: 0 1px 0 #1dadc8;
} 
.success-btn:hover{
  background: #7266ba;
}

.edit-project-container {
    text-align: right;
    margin-top: 16px;
}
.success-btn.edit-project{
  margin: 3px;
}

.contextual {
    margin-left: 11px;
    cursor: default;
    float: none;
    margin-top: 11px;
}

.contextual .a{
  margin-top: 11px!important;
}

.more-evm-button{
  background: #7266ba;
}


.icon-lock{
  margin-left: 35px!important;
  color: #e46f6f!important;
}

@media (max-width: 899px){
  .contextual, .edit-project-container{
    text-align: center;
    margin: auto;
    margin-top:40px;
  } 
}
.issues.box .list.issue-report {
  margin-bottom: 30px;
}
.issues.box .list.issue-report tbody{
  border: 1px solid lightgray;
}

.issues.box .issue-links a{
  margin-left: 2px;
  margin-right: 21px;
}

#content.project-show{
  padding: 5px!important;
  background: #f1f1f1!important;
}

@media (max-width: 1200px){
  .panel.tracker{
    padding-top: 10px;
  }
  .issues.box{
    padding-bottom: 10px;
  }
  .members.box{
    padding-bottom: 22px;
    padding-top: 21px;
  }
}

.boxcard .icon-container .icon::before{
  font-size: 2.5em;
  color: white;
  padding: 15px;
  border-radius: 99px;
  margin-left: 0;
}

.boxcard .left{
  max-width: 73%;
  float: left;
}

.boxcard .icon-container{
  max-width: 26.5%;
  float: right;
  margin: auto;
  margin-top: 16px;
}


@media (max-width: 1500px) and (min-width: 1350px){
  .boxcard .icon-container{
    float: none;
    margin-bottom: 14px;
    max-width: 100%;
    text-align: center;
  }
  .boxcard{
    height: 200px;
  }
  .boxcard .left{
    float: none;
    max-width: 100%;
    text-align: center;
  }
  .boxcard .title{
    float: none;
    margin-top: 24px;
    margin-bottom: 14px;
  }
  .boxcard .value{
    float: none;
  }
}

.icon-money::before{
  content: "\f0d6";
}

.icon-calendar::before{
  content: "\f073";
}
.icon-calendar-o::before{
  content: "\f133";
}
.icon-barcharts::before{
    content: "\f080";
}
.icon-area-charts::before{
    content: "\f1fe";
}
.icon-pie-charts::before{
    content: "\f200";
}
.icon-line-chart::before{
    content: "\f201";
}

.boxcard .icon-money::before{
  background: #a4dcaf;
}
.icon-tasks::before{
  content: "\f0ae";
}

.boxcard .icon-stats::before{
  background: rgb(158, 147, 220);
}

.boxcard .icon-report::before{
  background: rgb(132, 225, 239);  
}


#sidebar .total{
  font-size: 24px;
  color: #797979;
}

#sidebar .total .unity{
  color: #98a6ad;
  font-size: 14px;
}

#sidebar .total, #sidebar .report, #sidebar .details, #sidebar .button-log{
  margin-top: 12px;
  margin-bottom: 12px;
}

/**
*   Sexy title like tooltip styles
**/
[tooltip]{
    position: relative;
}

[tooltip]:hover:after, [tooltip].hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(tooltip);
    left: 13%;
    position: absolute;
    z-index: 98;
    max-width: 220px;
    text-transform: none;
    padding: 25px;
    font-size: 16px;
    font-weight: normal;
}
[tooltip].large-explanation:hover:after, [tooltip].hover.large-explanation:after{
  min-width: 266px;
  padding: 10px;
}
[tooltip].medium-explanation:hover:after, [tooltip].hover.medium-explanation:after{
  min-width: 150px;
  padding: 10px;
  max-width: 300px;
}

[tooltip].hover.help:after{
  padding-bottom: 54px;
  bottom: 14px;
}

/* EVM show styles  */

.index .ic{
  text-align: center;
  padding: 8px;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  padding-left: 13px;
  padding-top: 13px;
  margin-right: 20px;
  box-shadow: 5px 5px 10px 0px rgba(193, 193, 193, 0.75);
}

.index .bottom{
  padding: 10px;
  border: 1px solid #e2e2e2!important;
}

.index .bottom .value{
  font-size: 40px;
  display: inline-block;
  margin-right: 12px;
  float: left;
}

.index .bottom .explanation{
  display: flex;
  padding-top: 8px;
}

.index .icon::before{
    font-size: 34px;
}
.index .icon::before{
    color: white;
}

.index .title{
  text-align: center;
  text-transform: uppercase;
  margin: 13px;
  margin-bottom: 18px;
}
.index .chart-wrapper{
  padding: 20px;
  border-radius: 4px 4px 0px 0px;
}

.index.loaded .chart{
  height: 150px;
}

.index.negative .chart-wrapper, .index.negative .ic{ background: #e46551; }
.index.critical .chart-wrapper, .index.critical .ic{ background: #6d1c1c; }
.index.positive .chart-wrapper, .index.positive .ic{ background: #4ec7db; }
.index.positive.cost .chart-wrapper, .index.positive.cost .ic{ background: #2eab7d; }
.index.neutral  .chart-wrapper, .index.neutral .ic, .trends.evm{ background: #4f3f7d; }

.index  .chart-wrapper{ color: white; }
.trends.evm .morris-hover.morris-default-style,
.index .morris-hover.morris-default-style{ border: none; background: rgba(0,0,0,0.6)!important; }
.index .morris-hover.morris-default-style .morris-hover-row-label,
.trends.evm .morris-hover.morris-default-style .morris-hover-row-label,
.index .morris-hover.morris-default-style .morris-hover-point{ color: white!important; }
.trends.evm text, .index text{ fill: white!important; }
.index path{ stroke: white!important; }
.trends.evm circle{ stroke: rgba(103, 103, 103, 0.4)!important; }
.index circle{ fill: rgba(255, 255, 255, 0.63)!important; }

.trends.evm .morris-hover.morris-default-style{
  background: rgba(40, 32, 64, 0.81)!important;
}

#content.chart-evm_show{ background: #f7f7f7; }
#content.chart-evm_show .section{ 
  padding: 10px;
  background: white;
  margin: 20px;
  border: 1px solid #e2e2e2!important;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  padding-bottom: 24px;
}
#content.chart-evm_show{ padding: 0; }

#project-evm .section-title h3{
  color: #666;
  padding: 16px;
  background: white;
  font-size: 22px;
  font-weight: 500;
  padding-left: 0;
  padding-top: 10px;
}

#evm-help{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

#help-buttons{ display: none; }
.help-navigation{
  position: absolute;
  left: 13%;
  bottom: 14px;
  z-index: 99;
  width: 220px;
  padding: 13px;
  width: 230px;
}
.help-navigation .next, .help-navigation .previous{
  padding: 4px;
  color: white;
  float: right;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: none;
  border: none;
  font-weight: bold;
}
.icon.next-arrow::before{
  content: "\f061";
}

.icon.previous-arrow::before{
  content: "\f060";
}
.help-navigation .icon::before{
  font-size: 18px;
}

.records-row .element, .records-row .minus, .records-row .equal{
  float: left;
  text-align: center;
  height: 110px;
}

.records-row .element{
  margin-right: -26px;
  margin-left: -26px;
  width: 32.3%;
  padding: 10px;
}

.records-row .minus, .records-row .equal{
  font-size: 60px;
  border-radius: 99px;
  width: 30px;
  height: 30px!important;
  padding: 12px;
  display: table;
  max-height: 30px;
  padding-top: 0;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50px;
  color: gray;
  border: 6px solid lightgray;
  margin-top: 33px;
  margin-left: -6px;
  margin-right: -6px;
}
.records-row .minus{
  color: white;
}

.records-row .equal{
  background: white;
  padding: 13px;
  font-size: 50px;
  padding-bottom: 7px;
  padding-top: 0;
}
.records-row .value{
  font-size: 40px;
  margin: 10px 0px;
}

.records-row .element.bac, .records-row .element.eac, .records-row .element.ac, .records-row .element.ev{
  border-right: 6px solid #e0e0e0;
  margin-right: -28px;
}

.records-row .title{
  margin-top: 10px;
  text-transform: uppercase;
  color: gray;
  font-size: 16px;
}
.records-row .element.ac, .records-row .element.ev{
  margin-right: -32px;
}

.records-row{
  border: 6px solid #e0e0e0;
}
.records-row.estimates{
  border-top:none;
}

.records-row .element.ev, .records-row .element.etc {
  padding-left: 64px;
}

@media (max-width: 1100px){
  .records-row .minus, .records-row .equal{
    border-width: 1px;
  }
  .records-row .element{
    width: 100%;
    border: none!important;
    margin: 30px 0px!important;
  }
  .records-row .minus, .records-row .equal{
    margin-left: 48%;
    margin-top: 0;
  } 
  .records-row .element .value{
    font-size: 60px;
  }
  .records-row .element.ev, .records-row .element.etc {
    padding-left: 0;
  }
}

.variance{
  margin-top: 30px;
}
.trends.loaded .chart{
  height: 250px;
}
.trends .chart-wrapper{
  padding: 10px;
} 
.trends.evm{
  padding: 20px;
  background: #4f3f7d;
  color: white;
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  border-radius: 5px;
}
.trends.evm.loaded .chart{
  height: 321px;
}

.milestone-other-fields{
  padding-bottom: 20px;
  padding-top: 20px;
}

.icon-info-circle::before{
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f05a";
}

.milestone-other-fields .icon-info-circle::before{
  font-size: 18px;
  color: #5840af;
}

#assigned_to_line select{
  width: 62%!important;
}
.self-select{
  padding: 10px 20px;
  float: left;
}


#top-menu, .records-row .minus{
  background: -webkit-linear-gradient(left, #330854, #00b6c7)!important;
  background: -moz-linear-gradient(left, #330854, #00b6c7)!important;
  background: -o-linear-gradient(left, #330854, #00b6c7)!important;
  background: linear-gradient(to right, #330854, #00b6c7)!important;
}

#header{
  background-image: -webkit-linear-gradient(left, #330854, #007884)!important;
  background-image: -moz-linear-gradient(left, #330854, #007884)!important;
  background-image: -o-linear-gradient(left, #330854, #007884)!important;
  background-image: linear-gradient(to right, #330854, #007884)!important;
}


.pagination .page.current, .pagination .current>span, .ui-datepicker .ui-datepicker-header{
  background-image: -webkit-linear-gradient(left, #584492, rgba(11, 121, 154, 0.77))!important;
  background-image: -moz-linear-gradient(left, #584492, rgba(11, 121, 154, 0.77))!important;
  background-image: -o-linear-gradient(left, #584492, rgba(11, 121, 154, 0.77))!important;
  background-image: linear-gradient(to right, #584492, rgba(11, 121, 154, 0.77))!important;
}

#account ul{
  width: 156px;
  background: rgba(12, 180, 195, 0.88)!important;
  margin-top: 44px!important;
}
#top-menu #loggedas{
  width: 96px;
}

.pagination li>a, .pagination li>span, .pagination>.previous, .pagination>.next, .pagination>.page{
    border-radius: 90px;
    border: none;
    background: white;
}

ul.tagit, select, textarea, input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="url"], input[type="tel"], input[type="color"], input[type="search"], input[type="email"], input[type="text"], input[type="password"], .drdn-trigger{
    border-color: #d6d6d6!important;
    border-radius: 3px!important;
}
ul.tagit li.tagit-new input{
  margin-left:10px!important;
}

ul.tagit li.tagit-choice, ul.tagit li.tagit-new input{
  font-size: 13px!important;
}

ul.tagit li.tagit-choice{
  padding: 6px 14px!important;
}

ul.tagit li.tagit-choice .tagit-label{
  padding: 5px!important;
  margin-right: 8px!important;
}

ul.tagit li.tagit-choice a.tagit-close{
  top:47%!important;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    background: rgba(40, 25, 82, 0.36)!important;
    color: white!important;
    border: none!important;
    font-weight: normal!important;
}

#content.activity-index{
  padding-right: 82px;
}

.contextual a{
  margin-right: 22px!important;
}
.contextual{
  margin-bottom:14px!important;
}

legend.info{
  position: relative;
  bottom: -16px;
  z-index: 3;
  right: -41px;
}





/*
.float-label {
	position: relative;
	display: block;
}
.float-label label, .floating-label {
	position: absolute;
  top: -19px;
  left: 0em;
	font-size: .8rem;
	opacity: 0;
}
.float-label #issue_subject, .float-label input[type='text'], .float-label input[type='email'], .float-label input[type='tel'], .float-label input[type='password'] {
	height: 2.5rem;
	vertical-align: baseline;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

.float-label #issue_subject, .float-label input, .float-label label {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.float-label input:focus + label, .float-label input:not(:placeholder-shown) + label{
	color: #ccc;
	opacity: 1;
	display: inline-block;
	height: 10px;
	padding-bottom: 5px;
}

.float-label input:disabled:focus + label, .float-label input:disabled:not(:placeholder-shown) + label{
    color: white;
}

.float-label input:focus + label{
  color: #00dbf1;
  font-weight: bold;
}

.float-label #issue_subject:focus, .float-label input:focus, .float-label input:not(:placeholder-shown), .float-label #issue_subject:not(:placeholder-shown), .float-label select:focus{
  padding-top: 36px;
  padding-bottom: 17px;
  padding-left: 13px;
}
 .float-label input:focus::-webkit-input-placeholder {
	opacity: 0;
}
.float-label input:focus:-moz-placeholder {
	opacity: 0;
}
.float-label input:focus::-moz-placeholder {
	opacity: 0;
}
.float-label input:focus:-ms-input-placeholder {
	opacity: 0;
}
*/
#content.project-new{
  padding: 20px 50px;
}

/*

#issue_subject, .float-label input[type='text'], .float-label input[type='email'], .float-label input[type='tel'], .float-label input[type='password'], .float-label input, .float-label textarea, textarea#project_description, .jstElements, .project-edit label[for="project_description"], .project-show label[for="project_description"], .project-new label[for="project_description"], .project-settings label[for="project_description"], textarea#issue_description, .jstElements, label[for="issue_description"]{
    margin-bottom: 21px!important;
    width: 95%!important;
}
*/

.project-new .jstElements, .project-edit .jstElements, .project-show .jstElements, .jstElements{
   margin-bottom: 0px!important; 
}
/*
#issue_subject, .float-label input, .float-label label , .float-label input[type='text'], .float-label input[type='email'], .float-label input[type='tel'], .float-label input[type='password'], .float-label input, .float-label textarea, textarea#project_description, .jstElements, .project-edit label[for="project_description"], .project-show label[for="project_description"], .project-new label[for="project_description"], .project-settings label[for="project_description"], textarea#issue_description,  label[for="issue_description"]{
    margin-left: 2%!important;
    margin-top: 0;
}
*/

/*#project_identifier{
  margin-bottom: 10px!important;
}*/

/*label[for="issue_description"],  .float-label label{
  text-align: left;
  margin-bottom: 4px!important;
}
*/

#identifier-info{
  width: 96%;
  display: block;
  margin: auto;
  margin-top:-10px;
  margin-bottom: 10px;
}

fieldset{
  border: 1px solid #e5e5e5!important;
  width: 95%!important;
  margin: auto!important;
  border-radius: 4px!important;
  margin-bottom: 24px!important;
  margin-left: 2%!important;
}
fieldset > *:not(.splitcontentleft):not(.splitcontentright):not(.splitcontent){
  margin: 20px!important;
}

.float.tabular label{
  margin-left: 0;
  margin-right: 11px;
  /*width: 200px;*/
}

.float.tabular p{
  padding-left: 0;
  padding-top: 15px;
}
.float.tabular p.floating-field{
  padding-top: 0;
}

.float.tabular .float-label label {
    width: 90%;
    text-align: left;
}

#project_evm_frequency{
  width: 330px!important;
}
/*
.visible-field-container #custom_field_container .float-label{
    margin: 20px;
}
*/

#project_inner_fields{ padding-top: 0; }

.visible-field-container label[for='project_currency']{
  width: 182px;
}

.ui-dialog-titlebar{
  background-image: -webkit-linear-gradient(left, #584492, rgba(11, 121, 154, 0.77))!important;
  background-image: -moz-linear-gradient(left, #584492, rgba(11, 121, 154, 0.77))!important;
  background-image: -o-linear-gradient(left, #584492, rgba(11, 121, 154, 0.77))!important;
  background-image: linear-gradient(to right, #584492, rgba(11, 121, 154, 0.77))!important; 
}

.ui-dialog-titlebar-close{
  background: none!important;
  border: none!important;
}
.ui-icon-closethick{
  border-radius: 99px;
  width: 14px;
  height: 14px;
}
.ui-icon-closethick:hover{
  background: #faa!important;
}

.floating-field{
  width: 95%;
  /*padding: 10px;*/
  margin-left: 2%;
  position: relative;
  margin-bottom: 10px;
}
.floating-field:not(.textarea){
  height: 64px;
}
/*
.floating-field.textarea{
  height:auto;
}*/

.floating-field label{
  color: #ccc;
  font-size: .8rem;
  display: block;
  width: 100%;
  text-align: left;
  margin: auto;
  float: none;
}

.floating-field input, .floating-field select, .floating-field textarea{
  display: block;
  width: 100%;
}
.floating-field input, .floating-field select{
  padding: 10px;
  height: 40px;
  position: absolute;
  bottom: 0;
}
.floating-field.mid input, .floating-field.mid select, .floating-field.mid textarea{
  width: 90%;
}

.floating-field.mid{
  width: 50%;
}
.floating-field.auto{
  width: auto;
}
.floating-field.left{
  float: left;
}
#cost_field_container{
  float: left;
  width: 114px;
}

.floating-field.auto input, .floating-field.auto select, .floating-field.auto textarea{
  width: auto!important;
}

.floating-field label.focused{
  color: #00dbf1;
  font-weight: bold;
}

.floating-field label.hidden{
  /*display: none;*/
  visibility: hidden;
}


/*
.floating-label{
  color: #ccc;
  font-size: .8rem;
}

.floating-label.focused{
  color: #00dbf1;
  font-weight: bold;
}
*/


.visible-field-container .floating-field{
    bottom: 30px;
    left: 0;
    margin: 0;
    padding-left: 0;
}

#cost_field_container, .visible-field-container #custom_field_container .floating-field{
  margin-left: 38px;
}

.floating-option{
  width: 270px;
  text-align: center;
  float: left;
  margin: 20px;
  margin-top: 32px;
}
.floating-option label{
    text-align: right;
    margin-right: 10px;
}

#parent_id_container{
  min-width: 190px;
  float: left;
  margin-right: 50px;
  width: auto;
}

.issue-evm-field{
  margin-right: 15px!important;
  width: auto!important;
  float: left!important;
}

/*@media screen and (min-width: 768px){
  .floating-field input, .floating-field select, .floating-field textarea{
    width: 100%!important;
  }
}*/

fieldset.issue{
  width:auto!important; 
  /*margin-left: 0!important;*/
  padding: 10px 30px;
  padding-top: 0;
  text-align: center;
  padding-bottom: 30px!important;
  display: inline-block;
}
fieldset.issue .floating-field input{
  width: 198px;
  position: static;
  float: left;
  border-right: none;
}

fieldset.issue /*>*/ .splitcontent .splitcontentleft, fieldset.issue /*>*/ .splitcontent .splitcontentright{
  min-width: 250px!important;
}

fieldset.issue .floating-field img.ui-datepicker-trigger{
  float: left;
  background-size: 14px;
  padding: 19px!important;
  border: 1px solid rgb(214, 214, 214);
  background-position: 11px;
  border-radius: 0px 4px 4px 0px;
  margin-left: -1px;
  margin-top: 1px;
}

#issue_assigned_to_id{
  position: static;
  float: left;
}

.issue-small{
  min-width: 268px!important;
}
.issue-small input, .issue-small select{
  width: 98%!important;
}

#users_for_watcher label input[type="checkbox"]{
  float: none;
  margin-left: 6px;
  margin-top: 13px;
}
#users_for_watcher .avatar{
  display: block;
  float: left;
}

#users_for_watcher label{
  margin-bottom: 12px;
}

#users_for_watcher .avatar img, #watchers_inputs .avatar img{
  border-radius: 99px;
}


#watchers_inputs label{
  margin: 8px;
  text-align: left;
  display: block;
  position: relative;
  float: left;
  margin-right: 26px;
}
#watchers_inputs label input{
  float: left;
  margin: 8px;
  position: absolute;
  margin-left: 15px;
}

#watchers_inputs label.title{
  display: block;
  margin-bottom: 20px;
}

.search_for_watchers{
  display: block;
  clear: left;
  padding-top: 16px;
}

#issue-form fieldset.issue p{
  margin-bottom: 0;
}

.floating-field.issue-subject{
  float: left;
  width: 80%;
}

.floating-field.issue-tracker{
  float: left;
  width: 15%;
}

#issue_is_private_wrap{
    margin-top: -20px;
    margin-right: 22px!important;
}
.add_attachment legend{
  font-size: 11px;
}

.add_attachment [type="file"]{
  display: none;
}

a.button, label.button{
  font-family: inherit;
  font-size: 14px;
  line-height: 1.428571429;
  box-sizing: border-box;
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 0;
  transition: background-color ease-in-out .07s, border-color ease-in-out .07s, box-shadow ease-in-out .07s;
  border: 1px solid;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #409ae3;
  color: #fff;
  border-color: #409ae3 #409ae3 #1d7cc8;
  box-shadow: 0 1px 0 #1d7cc8;
  background-color: #40b6e3;
}


.milestone-status{
  margin: 14px 6px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  border: 1px solid rgb(214, 214, 214);
}
.milestone-status, input[disabled]{
  background: rgba(211, 211, 211, 0.4)!important;
}

/*
#update #issue-form .box{
  padding: 0px;
  margin: 0px;
  border: none;
  background: white;
  border-radius: 3px;
  padding-bottom: 20px;
}*/