.chart-container{
  margin-bottom: 50px;
}
.chart-title{
  text-align: center;
  margin-bottom: 0;
  margin-top: 24px;
}

.text-center{
  text-align: center;
}

.turbolinks-progress-bar{
  height: 8px!important;
  background: #a691fd;
  box-shadow: 0px 0px 2px 1px #a691fd;
  opacity: 0.4!important;
}

#top-menu{
  padding-top: 12px;
}

.chart-container{
  display: none;
}