<div class="project-members">
  <h3><%=l(:label_member_plural)%></h3>
    <% @project.assignable_users.each do |user| %>
      <span class="assignable-user" data-id="<%= user.id %>"><%= avatar(user.is_a?(User) ? user : '<gravatar>', :size => "14", :style => agile_user_color(user.login, :color_base => @query.respond_to?(:color_base) && @query.color_base) ).to_s.html_safe + " " + link_to_user(user) %>
      <br>
      </span>
    <% end %>
</div>
