<h3><%= l(:label_agile_light_free_version) %></h3>
<ul>
  <li><%= link_to l(:label_agile_link_to_pro), "http://www.redminecrm.com/projects/agile/pages/last?from=light_upgrade" %>
</li>
<li><%= link_to l(:label_agile_link_to_pro_demo), "http://demo.redminecrm.com/projects/agile/agile/board?query_id=4?from=light_live_preview" %>
</li>
<li><%= link_to l(:label_agile_link_to_more_plugins), "http://www.redminecrm.com/pages/plugins?from=light_more_plugins" %>
</li>
</ul>
