 <div class="box bottom-less">
  <h3>Agrega peticiones para representar a la EDT</h3>
  <div>
    Durante la etapa de planificación el director del proyecto debe poner especial atención sobre la Estructura de Desglose de Trabajo, la cual puede ser descripta de diferentes maneras dependiendo del nivel de granularidad aplicado en la elaboración de la misma. En este sentido <%= Setting.app_title %> dispone de dos elementos que se relacionan directamente con la EDT: las tareas que representan tanto el elemento de nivel más detallado de la EDT como los hitos que por lo general representan elementos más abstractos. 
  </div>

</div>
<div class="box bottom-less">
    Hito:
    <br/>
    Un hito agrupa un conjunto de tareas hijas que implican el trabajo necesario para completar o alcanzar el hito en cuestión. 
    <br/><br/>
    Tarea:
    <br/>
    Corresponde a una actividad manejable, que consta de datos como fecha de inicio y fin, una descripción detallada del alcance de la misma, un responsable de su ejecución, su costo, estado en que se encuentra, entre otros.

</div>
<div class="box  bottom-less">
    <h3>Etiquetas</h3>
    Entre otras funcionalidades que facilitan la gestión de tareas, <%= Setting.app_title %> también brinda etiquetas que permieten organizar las tareas ya sea por la naturaleza de las mismas, los recursos que utiliza, o cualquier otra estrategia que el usuario desee emplear.
    Estas etiquetas permiten que el usuario pueda ver rápidamente, en un gráfico circular, la manera en la que se está distribuyendo el trabajo de las tareas.
</div>

<div class="box bottom-less">
    <!-- Log the progress. Add % ratio. Log activities done -->
    <h3>Progreso</h3>
    <div>
      Luego de la etapa de planificación, durante la etapa de ejecución de las tareas los usuarios de <%= Setting.app_title %> pueden actualizar las tareas que le han sido asignadas y realizar registros individuales tanto del progreso como de los costos incurridos en la realización de dicha tarea. 
      Estos registros de costos incurridos son en términos de EVM equivalentes al Costo Real AC. Una tarea puede tener varios registros de costos incurridos lo cual brinda una visión detallada respecto a los costos y al progreso.
    </div>
</div>