 <div class="box bottom-less">
  <h3>Add issues in order to represent the WBS</h3>
  <div>
    During the planning stage, the project manager pays especial attention to the Work Breakdown Structure, which can be described in several ways depending on the level of details applyed to create it. In this sense, <%= Setting.app_title %> offers tasks to represent the most detailed level of the WBS and milestones usually used to represent more abstract elements.
  </div>

</div>
<div class="box bottom-less">
    Milestone:
    <br/>
    A milestone groups a set of sub-tasks that involve the work necessary to complete or reach the milestone in question.
    <br/><br/>
    Task:
    <br/>
    It corresponds to a manageable activity, which consists of data such as start and end date, a detailed description of the scope of the activity, a responsible for its execution, its cost, the current status, among others.
</div>
<div class="box  bottom-less">
    <h3>Tags</h3>
    Among other functionalities that facilitate the management of tasks, <%= Setting.app_title %> also provides tags that allow a better to organization of the issues either by the issue nature, the required resources, or any other strategy.
    These tags allow the user to quickly see, in a pie chart, the way in which the tasks job is being distributed.
</div>

<div class="box bottom-less">
    <!-- Log the progress. Add % ratio. Log activities done -->
    <h3>Progress</h3>
    <div>
        After the planning stage, during the execution phase of the tasks the <%= Setting.app_title %> users, are able to update the tasks and make individual records of both the progress and the costs incurred in performing the task.
        These incurred cost records are, in terms of EVM, equivalent to the Actual Cost AC. A task can have multiple cost records incurred which provides a detailed view of costs and progress.
    </div>
</div>