<div class="box bottom-less">
  <h3>Crea un proyecto</h3>
    Para la gestión de proyectos se provee al usuario una completa implementación de la Gestión del Valor Ganado EVM.
    <br/>
                        <p>

            <br/>La Gestión del Valor Ganado, también conocida como EVM por sus siglas en inglés de Earned Value Management, consiste en una metodología que describe el estado del proyecto, evaluando el avance y desempeño del mismo, al procesar informaciones obtenidas de las medidas de alcance, cronograma y recursos.
            <!--- <br/>Con la información resultante de la gestión del valor ganado se puede analizar el estado del proyecto de forma integral, pero así también en relación al cronograma, rendimiento y presupuesto del mismo. Estos análisis son particularmente convenientes para asistir al director de proyecto en la toma de decisiones e incluso en algunos casos respaldar las decisiones tomadas por el mismo. 
            </p>
            <br/><br/>
            <p>
            El Project Management Institute (2013) describe a la gestión del valor ganado de la siguiente manera:  "Es una técnica de dirección de proyectos que requiere la constitución de una línea base integrada con respecto a la cual se pueda medir el desempeño a lo largo del proyecto" (p. 217). 
            <br/>Esta línea base integrada se obtiene al integrar la línea base de costo, que es básicamente un conjunto de información organizada sobre los costos del proyecto, como por ejemplo el presupuesto del proyecto, con la línea de base del cronograma, la cual incluye entre otras informaciones una estructura de desglose de trabajo básica, y así también con la línea base del alcance del proyecto. Como se dijo anteriormente esta línea base integrada permite finalmente medir el desempeño, con lo cual es más fácil realizar una evaluación del avance del proyecto (Project Management Institute, 2013, p. 217).
            -->
        </p>

</div>

<div class="box bottom-less">

    
    <h3>Configura EVM</h3>
    <div class="">
        Para mejorar la experiencia del usuario se provee una configuración predeterminada para la gestión del valor ganado a lo largo del proyecto. 
        <br/><br/>
        El campo predeterminado para el seguimiento del valor ganado y las estimaciones necesarias es el Costo que consistirá en una medida del costo monetario que significa cada petición que compone el proyecto. 
        <br/><br/>
        Las otras opciones para el campo de seguimiento son Tiempo y Puntos. Los cuales permitirán llevar a cabo las estimaciones en términos de horas, días, semanas, etc, en el caso de tiempo y en puntos de historia para el caso de puntos. 
        <br/><br/>
        A su vez el usuario puede crear su propio campo personalizado, utilizado para hacer seguimiento, en caso de que los anteriormente mencionados resultasen insuficientes.
        <br/><br/>
        Además se cuenta con un campo de frecuencia de cálculos de EVM. Esto permite al usuario mayor flexiblidad respecto al intervalo de tiempo entre cada evaluación del estado del proyecto.
        <br/>
    </div>
    <!--<h3>Configura una frecuencia</h3>
    <div class="">
        La frecuencia de EVM determina cuando se realizarán los cortes y luego será visualizado y cosas
    </div>-->
</div>