<div class="box bottom-less">
  <h3>Create a project</h3>
    For project management, the user is provided with a complete implementation of EVM Earned Value Management.
    <br/>
    <p><br/>
    Earned Value Management, also known as EVM, is a methodology that describes the project status, evaluating the project progress and performance, when processing information obtained from the scope measures, timeline and resources.
    </p>

</div>

<div class="box bottom-less">
    <h3>Configure EVM</h3>
    <div class="">
        To improve the user experience, a default configuration is provided for managing the Earned Value throughout the project life cycle.
        <br/><br/>
        The default field for tracking the Earned Value and the necessary estimates is the Cost that will consist of a measure of the monetary cost of each project issue.
        <br/><br/>
        The other options for the tracking field are Time and Points. Which will allow to carry out the estimates in terms of hours, days, weeks, etc., in the case of Time and in history points for the case of Points.
        <br/><br/>
        On the other hand, the user can create a custom field, in case the other mentioned fields are insufficient.
        <br/><br/>
        In addition, an EVM calculation frequency field is available. This allows the user greater flexibility with respect to the time interval between each evaluation of the project status.
        <br/>
    </div>
</div>