<h3> EVM allows you to answer the following questions:</h3>
Answering these questions can help you have a quick view of the project's status over what is planned chronologically and through this vision you can take measurements and even assessments:
<br/><br/>•	Is the project ahead or behind the schedule?
<br/><br/>•	How efficiently is time being used?
<br/><br/>•	When is the project expected to be completed?
<br/><br/>On the other hand, regarding the baseline costs and more specifically with respect to the project budget. The answers to these questions are especially useful in defining and supporting key aspects of the current status of the project with respect to what it was intended to cost. Finally, this information also serves to assist with evaluations and measurements of the project's status compared to the baseline of costs:
<br/><br/>•	Is the project under or over the planned budget?
<br/><br/>•	How effectively are the project resources being used?
<br/><br/>•	How much is estimated to cost the remaining work for the project completion?
<br/><br/>•	What is the entire project likely to cost?
<br/><br/>•	How much will we be under or over budget at the project end?