<h3> EVM permite responder a los siguientes interrogantes:</h3>
Responder estas interrogantes puede ayudar a tener una visión rápida del estado del proyecto respecto a lo planificado cronológicamente y mediante esta visión poder realizar mediciones e incluso evaluaciones:
<br/><br/>•	¿El proyecto se encuentra adelantado o retrasado respecto al cronograma?
<br/><br/>•	¿Que tan eficientemente se está utilizando el tiempo?
<br/><br/>•	¿Cuando se estima que se termine el proyecto?
<br/><br/>Por otro lado respecto a la línea base de costos y más específicamente en lo que respecta al presupuesto del proyecto. Las respuestas a estas interrogantes son especialmente útiles para poder definir y respaldar aspectos claves de la situación actual del proyecto respecto a lo que se pretendía costear. Finalmente esta información también sirve para auxiliar evaluaciones y mediciones del estado del proyecto en comparación a la línea base de costos:
<br/><br/>•	¿Ha habido un ahorro o un sobrecosto respecto al presupuesto del proyecto?
<br/><br/>•	¿Qué tan efectivamente se están utilizando los recursos del proyecto?
<br/><br/>•	¿Cuánto se estima que cueste el trabajo faltante para la finalización del proyecto?
<br/><br/>•	¿Cuánto se estima que cueste el proyecto en su totalidad?
<br/><br/>•	¿Qué tanto se estima que se ahorrará o excederá el presupuesto al finalizar el proyecto?