<div id="default_configs">
  <h2><%=l(:label_default_configs)%></h2>
  <div class="section-content">
    <h3> <%=l(:default_configs_warning) %> </h3>
    <input type="submit" class="button-warning" name="default_configs" value="<%=l(:button_default_configs) %>" tabindex="5"/>
  </div>

</div>