  <% if @users_by_role.any? %>
  <div class="members box">
    <h3><%=l(:label_member_plural)%></h3>
    <% @users_by_role.keys.sort.each do |role| %>
      <div class="role-box">
        <label class="label"><%= role %></label> 
        <% @users_by_role[role].sort.each do |u|  %>
            <%= link_to user_path(u), tooltip: u.name, class: 'avatar medium-explanation' do %>
              <%= avatar_image u  %>
            <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <% end %>
